<ion-view title="" id="page2" style="background-color:#3965D6;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <form id="page2-form1" class="list ">
            <h2 id="page2-heading1" style="color:#050404;font-weight:400;text-align:center;" class=" ">TASK SCHEDULER</h2>
            <div class="spacer" style="width: 300px; height: 62px;"></div>
            <ion-list id="page2-list1" class=" ">
                <label class="item item-input " id="page2-input1">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="page2-input2" name="Password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 18px;"></div>
            <button id="page2-button1" style="font-weight:500;" class=" button button-positive  ">Login</button>
        </form>
        <h4 id="page2-heading2" style="color:#080707;font-weight:400;" class=" ">New Here?</h4>
        <div id="page2-button-bar1" class=" button-bar "></div>
        <a ui-sref="registerHere" id="page2-button3" style="font-weight:500;text-align:left;" class=" button button-balanced  ">Sign Up</a>
    </ion-content>
</ion-view>